<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coursedo">

    <application
        android:allowBackup="true"
        android:icon="@drawable/rgb_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CourseDo">
        <activity android:name=".GradeStudentMarks"></activity>
        <activity android:name=".GradeStudents" />
        <activity android:name=".MARKS" />
        <activity android:name=".MarkStudentAttendance" />
        <activity android:name=".StudentAttendance" />
        <activity android:name=".ViewStudents" />
        <activity android:name=".Classroom_template" />
        <activity android:name=".ViewClassroom" />
        <activity android:name=".MyProfile" />
        <activity android:name=".HOME" />
        <activity android:name=".SignIn" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>